name: "dev"
on:
  push:
jobs:
  deploy:
    name: Run dev tests
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
      - name: What does this workflow do?
        run: |
          echo "We're running a test, and if successful deploy to staging."
      - name: List the workspace dir files/fodlers
        run: |
          ls -ld ${{github.workspace}}
      - name: How did we do?
        run: |
          echo "We made it through the tests! Let's deploy to staging!"
      - name: Run deploy
        uses: godaddy-wordpress/mwcs-deploy-action@v1
        with:
          MWCS_DEPLOY_DEST: "/httpdocs/wp-content/cicd"
          MWCS_INTEGRATION_SECRET: ${{secrets.MWCS_INTEGRATION_SECRET}}
          MWCS_INTEGRATION_ID: "FNtmzoTuk77f2CUAHVV4bT"
          MWCS_APP_ID: "21517"
          MWCS_WORKING_DIR: ${{github.workspace}}
          MWCS_API_URL: "https://mgmt.nstk.net/api"